<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

    <nav class="navbar bg-warning" id="navbar">
        <div style="border: 3px solid black; border-radius: 15px;">
        <h1 class="navbar-brand h1 text-uppercase" >Pjonas</h1>
    </div>
        <h2 class="text-muted nav-item">whats new: manga</h2>

    </nav>
    <div class="container" id="main-container">
        <div class="row">
    <div id="left-side" class="bg-warning col-2"></div>



        <div class="container col-10 d-flex " id="container">
        
                <div class=" container">
                <img src="https://archive.org/download/berserk-manga-artbooks-ost/Berserk%20Memorial%20Booklet/001.jpg"></img>
                <p><%= data.title %></p>
                <a href="<%= data.href %>" class="btn btn-success">Ostatni Chapter</a>
                </div>

                <div class=" container">
                    <img src="https://image.ceneostatic.pl/data/products/121520759/i-boy-s-abyss-01.jpg"></img>
                    <p>Boys Abyss <%= dataAbyss.title %></p>
                    <a href="<%= dataAbyss.href %>" class="btn btn-success">Ostatni Chapter</a>
                    </div>
    
          

                <div class="container">
                    <img src="https://www.chainsaw-man-manga.online/wp-content/uploads/2021/07/CHAINSAW-MAN_2.png" alt="">
                    <p>  <%= dataChainsawMan.title2 %><p>
                    <a href="<%= dataChainsawMan.href %>" class="btn btn-success">Ostatni Chapter</a>

                </div>



    
        </div>
    </div>
    <style>  
   img{
    width: 100px;
    height: 100px;
   }
    body{
        font-size: 1rem;
        font-family: 'Times New Roman', Times, serif;
    }
    @media (min-width: 1200px){
        .container {
          max-width: 2000px;
        }
    }
        #main-container{
            min-width: 100vh;
            margin: 0;
        }
        #left-side{
            width:10%;
            height: 100vh;


        }
        #container{
            width: 100%;
            border: 5px solid blue;
            border-radius: 5px;
        }
        #navbar{
            width: 100%;
            height: auto;
        }
    </style>
</body>
</html>